*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    background: linear-gradient(to left bottom, #ff00cc, #333399, #ff00cc);  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    font-family: sans-serif;
    text-align: center;
  }

  a{
    text-decoration: none;
  }


  .wrapper{
    background-color: rgba(255,255,255,.3);
    box-shadow: 0 6px 10px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5rem;   
    padding: 20px 50px;
    border-radius: 10px;
    width: 90%;
  }

  .quest{
    font-size: 20px;
  }

  .wrap{
    background-color: white;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .first{
    color: red;
    font-size: 60px;

  }

  .input{
    padding: 10px;
    font-size: 18px;
     border: none;
    border-radius: 5px;
    outline: none;
  }

  .btn{
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 2rem;
    background-color: rgba(255,255,255,.3);
    border-color: rgba(255,255,255,.6);
    text-transform: uppercase;
    width: 180px;
    color: darkgreen;
}

.btn:hover{
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
    transition: all 300ms ease;
}

.article{
  display: flex;
  margin-top: 2rem;
  gap: 6px;
}

.wrap2{
  gap: 2px;
 background-color: rgba(255,255,255,.3);;
}

.first-2{
   color: navy;

}

.second{
  color: white;
}

.third{
  color: red;
}

.wrap3{
  justify-content: space-between;
}

.wrap4{
  text-align: center;
}

.cheese{
  color: blue;
}

.wrap5{
  justify-content: space-between;
}

.wrap6{
  flex-direction: column;
}

@media (min-width: 1000px){
  .wrapper{
    width: 80%;
  }
}